#formulario {
  margin-top: 2%;
  padding: 10px;
  background-color: rgba(2, 26, 43, 0.8);
  width: 60%;
}

footer {
  background-color: rgb(202, 150, 7);
  height: 500px;
}

@media screen and (max-width: 600px) {
  #formulario {
    width: 90%;
  }
}
